* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 1.4em;
    text-align: justify;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table td {
    vertical-align: top;
}
pre {
    font-family: "Courier New";
    font-size: 12px;
    color: #222222;
}
ul, ol {
    padding-left: 30px;
    margin: 1em 0;
}
input, textarea, select {
    border: 1px solid #C8D1DF;
}

.letter-box {
    font-family: "DejaVu Sans Mono", "Courier New", monospace;
    border-bottom: 1px solid #B6B6B6;
    padding: 1em;
}
.break {
    page-break-before: always;
}
